/*--------------------------------------------------------------
16.0 Blog/News Page
--------------------------------------------------------------*/
.post{
  padding: 0 0 20px 0;
  @include breakpoint(laptopScreen){
    padding: 0 25px 20px 25px;
  }
    h2{
      margin-bottom: 15px;
    }
    p{
      margin-top: 15px;
    }
}
.singlePost{
  .entry-title{
    margin-top: 125px;
    @include breakpoint(largeMobileScreen){
      margin-top: 75px;
    }
    @include breakpoint(laptopScreen){
      margin-top: 50px;
    }
  }
}
.updated{
  display: none;
}
.vcard{
  a{
    text-decoration: none;
  	color: $brandColor !important;
  	-webkit-transition: .3s ease all;
  	transition: .3s ease all;
      &:hover{
      color: $brandColor !important;
      -webkit-transition: .3s ease all;
      transition: .3s ease all;
      }
  }
}
.post-thumbnail{
  text-align:center;
  .size-full{
    width: 70%;
    height: auto;
  }
}
.size-full{
  width: 100%;
  height: auto;
}
.attachment-post-thumbnail{
  width: 100%;
  height: auto;
}
.postHeader{
  margin-bottom: 15px;
}
.articleWrapper {
  .entry-header {
    display: block;
  }
  .entry-title {
    a {
      &:after {
        width: 0;
      }
    }
  }
  .thumbnailWrapper {
    a {
      &:after {
        width: 0;
      }
    }
  }
}
.postWrapper {
  .entry-header {
    display: block;
  }
  .attachment-post-thumbnail {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.pagination {
  .nav-links {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.innerWrap {
  padding: 0 0 20px 0;
}
.post-thumbnail {
  &:after {
    width: 0%;
  }
}
#search {
  .entry-header {
      display: block !important;
      .entry-title {
        a {
          &:after {
            width: 0%;
          }
        }
      }
  }
  #post-1358 {
    display: none;
  }
}
.page-header {
  @include breakpoint (laptopScreen) {
    margin-right: 25px;
  }
}
