/*--------------------------------------------------------------
6.0 Footer
--------------------------------------------------------------*/
.site-footer{
	position: relative;
	z-index: 2;
	width: 100%;
	margin: 0 auto;
	background-color: $brandColor;
	margin-top: 200px;
	border-top: 5px solid $accentColor;
}
.footerContent{
	padding: 0;
	@include breakpoint (tabletScreen) {
		padding: 20px;
	}
	p {
		font-size: 16px;
		line-height: 1.4em;
		max-width: 600px;
	}
}
#footerContentInner {
	color: $white;
	padding: 100px 0;
	h6 {
		color: $white;
		font-size: 32px;
	}
	img {
		width: 200px;
		height: auto;
	}
	a {
		color: $white;
		text-decoration: none;
		transition: .2s ease;
		&:hover {
			color: $accentColor;
			transition: .2s ease;
		}
	}
}
#footerSecond {
	background-color: $accentColor;
}
#footerLogo {
  display: flex;
  justify-content: flex-end;
  .custom-logo-link {
    img {
			max-width: 75px;
			height: auto;
		}
  }
}
#copyright{
	color: $brandColor;
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
		p{
			margin-top: 0;
			margin-bottom: 0 !important;
		}
    @include breakpoint(largeScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
		a:first-of-type {
			margin-left: 10px;
		}
		a {
			color: $brandColor;
			margin-right: 5px;
			transition: .2s ease;
			&:hover {
				text-decoration: none;
				transition: .2s ease;
			}
		}
		nav {
			width: auto;
		}
}
