/*--------------------------------------------------------------
9.0 General/Global Styles
--------------------------------------------------------------*/
body{
	background: $white;
	margin: 0;
	overflow-x: hidden;
}
.site-content {
	margin-top: 95px;
}
.screen-reader-text{
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
// Style highlight to match our themes colors
::-moz-selection{
	background: rgba(29, 43, 86, 0.7);
	color: $white;
}
::selection{
	background: rgba(29, 43, 86, 0.7);
	color: $white;
}
::-ms-selection{
	background: rgba(29, 43, 86, 0.7);
	color: $white;
}
#privacyPolicy{
	@include breakpoint(smallScreen){
			margin-top: 110px;
	}
	@include breakpoint(largeMobileScreen){
			margin-top: 125px;
	}
}
ul {
	padding: 15px;
	margin: 0;
}
.breadcrumbs {
	position: relative;
	top: 1px;
	display: flex;
	color: $white;
	font-size: 14px;
	text-transform: uppercase;
	li {
		list-style-type: none;
	}
	.separator {
		font-weight: 900;
		margin: 0 5px;
	}
	a {
		color: $white;
		text-decoration : none;
		padding: 0 !important;
	}
	.item-current {
		color: $accentColor;
	}
}
