/*--------------------------------------------------------------
14.0 About Page
--------------------------------------------------------------*/
#theOwners {
  .borderedImage {
    width: 70%;
    margin: 0 auto;
    @include breakpoint (largeMobileScreen) {
      width: 50%;
    }
  }
  .titleWrap {
    p {
      text-align: left;
    }
  }
}
#testimonials {
  p {
    padding-bottom: 15px;
    border-bottom: 1px solid $lightGrey;
  }
}
